@import 'fonts.scss';
$red: #f92854;
$dark: #403b46;
.page-top {
    background: url(../img/page-top-back.jpg) center 0 no-repeat;
    margin-bottom: 54px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 297px;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    &__title {
        color: #FFF;
        font-size: 36px;
        font-family: 'LatoWebSemibold';
        text-align: center;
    }
}

.page {
    &__title {
        font-size: 30px;
        font-family: "LatoWebBold";
        color: #403A45;
        margin-bottom: 35px;
        text-align: center;
        &--white {
            color: #FFF;
        }
    }
}

.text-block {
    font-size: 16px;
    font-family: "LatoWebRegular";
    p {
    	margin-bottom: 25px;
    	line-height: 1.5em;
    }
    &__title-h2 {
    	color: #403A45;
    	font-size: 24px;
    	font-family: "LatoWebBold";
    	margin-bottom: 20px;
    }
    ul {
    	list-style: none;
    	padding-left: 0;
    	margin-bottom: 25px;
    }
}

.proposal {
    background: url(../img/parallax.jpg) center top no-repeat;
    height: 521px;
    color: #FFF;
    margin-bottom: 40px;
    .container {
        padding-top: 65px;
    }
    &__block-title {
        font-family: "LatoWebBold";
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__wrapper {
        padding-top: 10px;
    }
    &__block-text {
        font-size: 16px;
        font-family: "LatoWebRegular";
    }
    &__block {
        position: relative;
        padding-left: 70px;
        padding-top: 12px;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.systems {
	margin-bottom: 70px;
	.col-md-4 {
		&:nth-child(2) {
			.systems__block {
				margin: auto;
			}
		}
		&:nth-child(3) {
			.systems__block {
				float: right;
			}
		}
	}
    &__block {
        position: relative;
        border: 1px solid #403A45;
        display: block;
		max-width: 320px;
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.7);
		        box-shadow: 0 2px 3px rgba(0,0,0,.7);
		margin-bottom: 50px;
        &:hover {
            text-decoration: none;
            border: 1px solid #f92854;
            .systems__more {
                display: block;
                -webkit-transition: .3s all;
                -moz-transition: .3s all;
                -ms-transition: .3s all;
                -o-transition: .3s all;
                transition: .3s all;
            }
            .systems__name {
                background: #F92854;
                -webkit-transition: .3s all;
                -moz-transition: .3s all;
                -ms-transition: .3s all;
                -o-transition: .3s all;
                transition: .3s all;
            }
            .systems__image {
                img {
                    -webkit-transition: .3s all;
                    -moz-transition: .3s all;
                    -ms-transition: .3s all;
                    -o-transition: .3s all;
                    transition: .3s all;
                    -webkit-transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
    &__image {
        overflow: hidden;
    }
    &__more {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -109px;
        margin-top: -24px;
        display: inline-block;
        width: 209px;
        height: 48px;
        background: #f92854;
        color: #fff;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        font-family: "LatoWebBold";
        display: none;
    }
    &__name {
        height: 50px;
        overflow: hidden;
        background: #403A45;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
    &__wrapper {
    	margin-bottom: 20px;
    }
    &__title {
    	margin-bottom: 40px;
    }
}
.protect {
	height: 325px;
	background: url(../img/protect.jpg) center 0 no-repeat;
	padding-top: 50px;
	color: #FFF;
	margin-bottom: 75px;
	&__block {
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		&-image {
			margin-right: 30px;
		}
	}
	&__block-name {
		font-size: 24px;
		font-family: 'LatoWebRegular';
	}
	&__title {
		margin-bottom: 60px;
	}
}

.text-section {
	margin-bottom: 35px;
}
.how-much-text {
	margin-bottom: 5px;
}
.steps {
	margin-bottom: 129px;
	&__block {
		text-align: center;
		font-family: 'LatoWebRegular';
		font-size: 17px;
		width: 133px;
		z-index: 10;
		&:first-child {
			width: 84px;
			margin-right: 24px;
		}
		&:last-child {
			width: 140px;	
		}
		&:nth-child(even) {
			position: relative;
			top: 50px;
		}
		&-name {
			line-height: 1.2em;
		}
		
		&-img {
			-webkit-box-shadow: 4px -4px 0 #403b46;
		        box-shadow: 4px -4px 0 #403b46;
			width: 80px;
			height: 80px;
			background: #F92854;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			margin: auto;
			margin-bottom: 5px;
		}
	}
	&__wrapper {
		display: flex;
		position: relative;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		    &:before {
		    	content: "";
		    	height: 5px;
		    	border-top: 5px solid #403b46;
		    	border-bottom: 5px solid #F92854;
		    	position: absolute;
		    	display: block;
		    	width: 95%;
		    	top: 56px;
		    	z-index: 1;
		    }
		}
}
.relative-articles {
	margin-bottom: 120px;
	&__block {
		-webkit-box-shadow: 0 0 12px rgba(0,0,0,.2);
		        box-shadow: 0 0 12px rgba(0,0,0,.2);
	    display: block;
		&:hover {
			text-decoration: none;
		}
	}
	&__name {
		background: $red;
		height: 60px;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		color: #fff;
		font-family: 'LatoWebBold';
		font-size: 18px;
	}
}
.consult {
	height: 568px;
	background: $red;
	.container {
		background: url(../img/form.jpg) 0 0 no-repeat;
		height: 624px;
		position: relative;
		top: -56px;
	}
	&__title {
		text-align: left;
		padding-top: 105px;
		font-size: 36px;
		line-height: 1.35em;
		margin-bottom: 12px;
	}
	&__phone {
		font-family: 'LatoWebBold';
		font-size: 30px;
		color: $red;
		position: absolute;
		top: 159px;
		left: 414px;
	}
	&__input {
		height: 45px !important;
		line-height: 45px;
		display: inline-block;
		width: 100%;
		font-family: 'Segoe UI Light';
		font-size: 22px;
		color: #515151;
		padding: 0 24px;
		background: none;
		border: none;
	}
	&__row {
		margin-bottom: 11px;
		width: 576px;
	}
	&__textarea {
		height: 135px;
		resize: none;
		width: 100%;
		font-family: 'Segoe UI Light';
		font-size: 22px;
		color: #515151;
		padding: 5px 24px;
		background: none;
		border: none;
	}
	&__btn {
		background: #232126;
		color: #fff;
		border: none;
		padding: 9px 43px;
		font-family: 'LatoWebBold';
		font-size: 22px;
		
	}
	&__button-wrapper {
		text-align: center;
		width: 576px;
	}
}