@import 'fonts.scss';
@import 'owl-sprite.scss';
$red: #f92854;
$dark: #403b46;
.page-top {
    background: url(../img/page-top-back.jpg) center 0 no-repeat;
    margin-bottom: 54px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 297px;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    &__title {
        color: #FFF;
        font-size: 36px;
        font-family: 'LatoWebSemibold';
        text-align: center;
    }
}

.page {
    &__title {
        font-size: 30px;
        font-family: "LatoWebBold";
        color: #403A45;
        margin-bottom: 35px;
        text-align: center;
        &--white {
            color: #FFF;
        }
    }
}

.text-block {
    font-size: 16px;
    font-family: "LatoWebRegular";
    p {
    	margin-bottom: 25px;
    	line-height: 1.5em;
    }
    &__title-h2 {
    	color: #403A45;
    	font-size: 24px;
    	font-family: "LatoWebBold";
    	margin-bottom: 20px;
    }
    ul {
    	list-style: none;
    	padding-left: 0;
    	margin-bottom: 25px;
    }
}

.proposal {
    background: #312c37 url(../img/parallax.jpg) center center no-repeat fixed;
    min-height: 521px;
    color: #FFF;
    margin-bottom: 40px;
    .container {
        padding-top: 65px;
    }
    &__block-title {
        font-family: "LatoWebBold";
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__wrapper {
        padding-top: 10px;
    }
    &__block-text {
        font-size: 16px;
        font-family: "LatoWebRegular";
    }
    &__block {
        position: relative;
        padding-left: 70px;
        padding-top: 12px;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.col-systems {
	margin: auto;
	margin-bottom: 50px;
}

.systems {
	margin-bottom: 70px;
	
    &__block {
        position: relative;
        border: 1px solid #403A45;
        display: block;
		max-width: 320px;
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.7);
		        box-shadow: 0 2px 3px rgba(0,0,0,.7);
        &:hover {
            text-decoration: none;
            border: 1px solid #f92854;
            .systems__more {
                display: block;
                -webkit-transition: .3s all;
                -moz-transition: .3s all;
                -ms-transition: .3s all;
                -o-transition: .3s all;
                transition: .3s all;
            }
            .systems__name {
                background: #F92854;
                -webkit-transition: .3s all;
                -moz-transition: .3s all;
                -ms-transition: .3s all;
                -o-transition: .3s all;
                transition: .3s all;
            }
            .systems__image {
                img {
                    -webkit-transition: .3s all;
                    -moz-transition: .3s all;
                    -ms-transition: .3s all;
                    -o-transition: .3s all;
                    transition: .3s all;
                    -webkit-transform: scale(1.2, 1.2);
                    -moz-transform: scale(1.2, 1.2);
                    -ms-transform: scale(1.2, 1.2);
                    -o-transform: scale(1.2, 1.2);
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
    &__image {
        overflow: hidden;
    }
    &__more {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -109px;
        margin-top: -24px;
        display: inline-block;
        width: 209px;
        height: 48px;
        background: #f92854;
        color: #fff;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        font-family: "LatoWebBold";
        display: none;
    }
    &__name {
        height: 50px;
        overflow: hidden;
        background: #403A45;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
    &__wrapper {
    	margin-bottom: 20px;
    }
    &__title {
    	margin-bottom: 40px;
    }
}
.protect {
	min-height: 325px;
	background: #3b3546 url(../img/protect.jpg) center center no-repeat fixed;
	padding-top: 50px;
	color: #FFF;
	margin-bottom: 75px;
	&__block {
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		&-image {
			margin-right: 30px;
			img {
				max-width: 300px;
			}
		}
	}
	&__block-name {
		font-size: 24px;
		font-family: 'LatoWebRegular';
	}
	&__title {
		margin-bottom: 60px;
	}
}

.text-section {
	margin-bottom: 35px;
}
.how-much-text {
	margin-bottom: 5px;
}
.steps {
	margin-bottom: 129px;
	&__block {
		text-align: center;
		font-family: 'LatoWebRegular';
		font-size: 17px;
		width: 133px;
		z-index: 10;
		&:first-child {
			width: 84px;
			margin-right: 24px;
		}
		&:last-child {
			width: 140px;	
		}
		&:nth-child(even) {
			position: relative;
			top: 50px;
		}
		&-name {
			line-height: 1.2em;
		}
		
		&-img {
			-webkit-box-shadow: 4px -4px 0 #403b46;
		        box-shadow: 4px -4px 0 #403b46;
			width: 80px;
			height: 80px;
			background: #F92854;
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			margin: auto;
			margin-bottom: 5px;
		}
	}
	&__wrapper {
		display: flex;
		position: relative;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		    &:before {
		    	content: "";
		    	height: 5px;
		    	border-top: 5px solid #403b46;
		    	border-bottom: 5px solid #F92854;
		    	position: absolute;
		    	display: block;
		    	width: 95%;
		    	top: 56px;
		    	z-index: 1;
		    }
		}
}
.relative-articles {
	margin-bottom: 120px;
	&__block {
		-webkit-box-shadow: 0 0 12px rgba(0,0,0,.2);
		        box-shadow: 0 0 12px rgba(0,0,0,.2);
	    display: block;
	    text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	&__name {
		background: $red;
		height: 60px;
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		color: #fff;
		font-family: 'LatoWebBold';
		font-size: 18px;
		text-decoration: none;
		&-in {
			text-align: center;
		}
	}
}
.consult {
	height: 568px;
	background: $red;
	.container {
		background: url(../img/form.jpg) 0 0 no-repeat;
		height: 624px;
		position: relative;
		top: -56px;
	}
	&__title {
		text-align: left;
		padding-top: 105px;
		font-size: 36px;
		line-height: 1.35em;
		margin-bottom: 12px;
	}
	&__phone {
		font-family: 'LatoWebBold';
		font-size: 30px;
		color: $red;
		position: absolute;
		top: 159px;
		left: 414px;
	}
	&__input {
		height: 45px !important;
		line-height: 45px;
		display: inline-block;
		width: 100%;
		font-family: 'Segoe UI Light';
		font-size: 22px;
		color: #515151;
		padding: 0 24px;
		background: none;
		border: none;
	}
	&__row {
		margin-bottom: 11px;
		width: 576px;
	}
	&__textarea {
		height: 135px;
		resize: none;
		width: 100%;
		font-family: 'Segoe UI Light';
		font-size: 22px;
		color: #515151;
		padding: 5px 24px;
		background: none;
		border: none;
	}
	&__btn {
		background: #232126;
		color: #fff;
		border: none;
		padding: 9px 43px;
		font-family: 'LatoWebBold';
		font-size: 22px;
		
	}
	&__button-wrapper {
		text-align: center;
		width: 576px;
	}
}
.portfolio {
	&__hover {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(244,24,70,.8);
			z-index: 10;
			color: #FFF;
			opacity: 0;
			&-dots {
				padding-top: 90px;
				margin-bottom: 30px;
				text-align: center;
				i {
					display: inline-block;
					width: 19px;
					height: 19px;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					background: #FFF;
					margin: 0 6px;
				}
			}
			&-more {
				font-family: 'LatoWebBold';
				color: #FFF;
				font-size: 30px;
				text-align: center;
			}
		}
	&__slide {
		display: block;
		border: 1px solid #403a45;
		-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.75);
		        box-shadow: 0 4px 4px rgba(0,0,0,.75);
		margin-bottom: 60px;
		width: 316px;
		position: relative;
		&:hover {
			.portfolio__hover {
				opacity: 1;
				-webkit-transition: .3s all;
				   -moz-transition: .3s all;
				    -ms-transition: .3s all;
				     -o-transition: .3s all;
				        transition: .3s all;
			}
		}
		 
		&-name {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 49px;
			background: rgba(240,0,58,.8);
			display: flex;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			color: #FFF;
			font-size: 18px;
			font-family: 'LatoWebBold';
		}
	}
	.item {
		max-width: 100%;
	}
	.owl {
		&-controls {
			position: absolute;
			top: 0;
			left: 0;
			right: auto;
			width: 100%;
			padding-top: 90px;
		}
		&-prev {
			float: left;
			text-indent: -9000px;
			position: relative;
			left: -36px;
			@include sprite($arr-left);
			&:hover {
				@include sprite($arr-left-hover);
			}
		}
		&-next {
			float: right;
			text-indent: -9000px;
			position: relative;
			right: -36px;
			@include sprite($arr-right);
			&:hover {
				@include sprite($arr-right-hover);
			}
			
		}
		&-item {
			display: flex;
			-webkit-justify-content: center;
				        justify-content: center;	
		}
		&-controls {
			z-index: 1;
		}
		&-wrapper-outer {
			z-index: 5;
		}
	}
}

.video {
	margin-bottom: 40px;
	&__slide {
		height: 318px;
		margin-bottom: 15px;
		max-width: 49%;
		&-wrapper {
			display: flex;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			    height: 318px;
		}
		&-title {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}
	&__text-block {
		-webkit-box-shadow: 0 0 13px rgba(0,0,0,.29);
		        box-shadow: 0 0 13px rgba(0,0,0,.29);
	    color: #403A45;
	    font-size: 16px;
	    padding: 30px 40px;
	    max-width: 49%;
	}
	.item {
		padding: 10px;
	}
	.owl {
		&-controls {
			position: absolute;
			top: 50%;
			left: 0;
			right: auto;
			width: 100%;
			margin-top: -30px;
		}
		&-prev {
			float: left;
			text-indent: -9000px;
			position: relative;
			left: -36px;
			@include sprite($arr-left);
			&:hover {
				@include sprite($arr-left-hover);
			}
		}
		&-next {
			float: right;
			text-indent: -9000px;
			position: relative;
			right: -36px;
			@include sprite($arr-right);
			&:hover {
				@include sprite($arr-right-hover);
			}
			
		}
		&-item {
			display: flex;
			-webkit-justify-content: center;
				        justify-content: center;	
		}
		&-controls {
			z-index: 1;
		}
		&-wrapper-outer {
			z-index: 5;
		}
	}
}
.logo-carousel {
	margin-bottom: 10px;
	&__img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
	    &:hover {
	    	-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
		filter: grayscale(0);
	    }
	}
	.item {
		margin: 0 30px;
		height: 120px;
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
	}
		.owl {
		&-controls {
			position: absolute;
			top: 50%;
			left: 0;
			right: auto;
			width: 100%;
			margin-top: -20px;
		}
		&-prev {
			float: left;
			text-indent: -9000px;
			position: relative;
			left: -36px;
			@include sprite($arr-left);
			&:hover {
				@include sprite($arr-left-hover);
			}
		}
		&-next {
			float: right;
			text-indent: -9000px;
			position: relative;
			right: -36px;
			@include sprite($arr-right);
			&:hover {
				@include sprite($arr-right-hover);
			}
			
		}
		&-item {
			display: flex;
			-webkit-justify-content: center;
				        justify-content: center;	
		}
		&-controls {
			z-index: 1;
		}
		&-wrapper-outer {
			z-index: 5;
		}
	}
}
.reviews-slider {
	margin-bottom: 10px;
	a:hover {
		text-decoration: none;
	}
	&__block {
		text-align: center;
		padding: 15px;
		padding-top: 64px;
		&:hover {
			.reviews-slider__content {
				-webkit-box-shadow: 0 0 16px rgba(0,0,0,.15);
			    box-shadow: 0 0 16px rgba(0,0,0,.15);
			}
			.reviews-slider__img {
				img {
		    		&:nth-child(2) {
				    	display: block;
				    }
		    	}
			}
			
		}
	}
	&__img {
		margin-bottom: 20px;
		position: relative;

		img {
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		    width: 128px;
	    height: 128px;
	    margin-top: -64px;
	    &:nth-child(2) {
	    	display: none;
	    	position: absolute;
	    	left: 50%;
	    	top: 0;
	    	margin-left: -64px;
	    }
	}
	
	} 
	&__content {
		
	    padding-bottom: 35px;
	}
	&__text {
		position: relative;
		margin: 40px 35px;
		
		p {
			z-index: 2;
			position: relative;
			font-family: 'LatoWebRegular';
			font-size: 16px;
			line-height: 1.5em;
			color: $dark;
		}
	}
	&__text-wrapper {
		min-height: 300px;
	}
	&__author {
		font-size: 16px;
		font-family: 'LatoWebBold';
		margin: 20px 30px;
		color: $dark;
	}
	&__social {
		
	}
	.owl {
		&-controls {
			position: absolute;
			top: 50%;
			left: 0;
			right: auto;
			width: 100%;
			margin-top: -20px;
		}
		&-prev {
			float: left;
			text-indent: -9000px;
			position: relative;
			left: -36px;
			@include sprite($arr-left);
			&:hover {
				@include sprite($arr-left-hover);
			}
		}
		&-next {
			float: right;
			text-indent: -9000px;
			position: relative;
			right: -36px;
			@include sprite($arr-right);
			&:hover {
				@include sprite($arr-right-hover);
			}
			
		}
		&-item {
			display: flex;
			-webkit-justify-content: center;
				        justify-content: center;	
		}
		&-controls {
			z-index: 1;
		}
		&-wrapper-outer {
			z-index: 5;
		}
	}
}
.bq {
	padding: 15px 0;
	
	&-top {
		position: absolute;
		left: 0;
		top: -18px;
		z-index: 1;
	}
	&-bot {
		position: absolute;
		right: 0;
		bottom: -18px;
		z-index: 1;
	}
}
.diagrams {
	margin-bottom: 27px;
	&__item {
		width: 20%;
		float: left;
		text-align: center;
		position: relative;
	}
	.timer {
		display: none;
	}
	&__num {
	    	position: absolute;
	    	top: 70px;
	    	left: 6px;
	    	width: 100%;
	    	text-align: center;
	    	font-family: "LatoWebHeavy";
	    	font-size: 57px;
	    	color: #403B46;
	    }
	&__text {
		font-size: 16px;
		font-family: "LatoWebBold";
		position: relative;
		top: -20px;
	}
}
.diagram {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	    position: relative;
	    .text {
	    	font-size: 30px;
	    }
	    
}
@media(max-width: 1240px) {
	.protect__block-name {
		font-size: 20px;
	}
	.logo-slider {
		.owl-prev {
			left: -10px;
		}
		.owl-next {
			right: -10px;
		}
	}
	.reviews-slider {
		.owl-prev {
			left: -25px;
		}
		.owl-next {
			right: -25px;
		}
	}
}
@media(max-width: 1199px){
	.diagrams {
		&__num {
			font-size: 30px;
		}
	}
	.proposal {
		.container {
			padding-top: 25px;
		}
		.page__title {
			margin-bottom: 25px;
		}
	}
	.protect {
		padding-top: 30px;
		&__block {
			display: block;
			text-align: center;
		}
		&__title {
			margin-bottom: 40px;
		}
	}
	.steps__block {
		font-size: 14px;
	}
	.consult .container {
		background: url(../img/form-1200.png) center 56px no-repeat;
	}
	.consult__phone {
		left: 322px;
	}
}
@media(max-width: 1023px) {
	.diagrams {
		&__num {
			font-size: 23px;
			top: 54px;
		}
	}
	.proposal {
		background-image: none;
		&__col {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.steps__wrapper {
		margin-left: -100px;
		margin-right: -100px;
	}
	.relative-articles__name {
		padding-left: 10px;
		font-size: 14px;
	}
	.consult {
		.container {
			background: none;
			top: 0;
		}
		&__phone {
			background: url(../img/form-phone.png) 0 0 no-repeat;
			height: 136px;
			width: 393px;
			left: auto;
			right: 0px;
			top: 47px;
			padding-top: 52px;
			padding-left: 18px;
		}
		&__title {
			padding-top: 45px;
		}
		&__input, &__textarea {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feeaee+0,f92854+100 */
			background: #feeaee; /* Old browsers */
			background: -moz-linear-gradient(left, #feeaee 0%, #f92854 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, #feeaee 0%,#f92854 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, #feeaee 0%,#f92854 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeaee', endColorstr='#f92854',GradientType=1 ); /* IE6-9 */
		}
	} 
	.systems__name {
		font-size: 16px;
	}
	.page-top__title {
		font-size: 30px;
	}
	.video__text-block {
		display: none;
	}
	.video__slide {
		max-width: 100%;
	}
}
@media(max-width: 991px) {
	.systems {
		margin-bottom: 70px;
		&__block {
			max-width: 100%;
		}
		.col-md-4 {
			margin: auto;
			margin-bottom: 50px;
			
			&:nth-child(2) {
				.systems__block {
					
				}
			}
			&:nth-child(3) {
				.systems__block {
					float: none;
				}
			}
		}
	}
	.steps {
		overflow: hidden;	
		margin-bottom: 40px;	
		&__wrapper {
			margin-left: 0;
			margin-right: 0;
			flex-wrap: wrap;
			
			&:before {
			display: none;	
		}
		}
		&__block {
			float: left;	
			margin-bottom: 20px;	
			&:nth-child(even) {
				top: 0;
			}
		}
	}
}
@media(max-width: 767px) {
	.portfolio {
		.owl-prev {
			display: none;
		}
		.owl-next {
			display: none;
		}
	}
	.systems__image {
		text-align: center;
	}
	.protect {
		background-image: none;
		&__block {
			margin-bottom: 50px;
			&-image {
				margin-bottom: 10px;
			}
		}
	}
	.steps {
		&__wrapper {
			-webkit-justify-content: center;
			        justify-content: center;
		}
	}
	.video__slider {
		.owl-prev {
			display: none;
		}
		.owl-next {
			display: none;
		}
	}
	.reviews-slider {
		&__block {
			max-width: 320px;
		}
		.owl-prev {
			display: none;
		}
		.owl-next {
			display: none;
		}
	}
	.relative-articles__block {
		max-width: 340px;
		margin: auto;
		margin-bottom: 40px;
	}
	.consult {
		padding-left: 10px;
		padding-right: 10px;
		height: auto;
		&__phone {
			position: relative;
			top: 0;
			left: 0;
			width: 280px;
			height: auto;
			-webkit-background-size: 100% auto;
			     -o-background-size: 100% auto;
			        background-size: 100% auto;
			margin-bottom: 20px;
			min-height: 100px;
			padding-top: 38px;
    		padding-left: 14px;
    		font-size: 21px;
		}
		&__title {
			font-size: 27px;
			line-height: 1.2em;
			padding-top: 25px;
			margin-bottom: 7px;
		}
		&__row {
			width: 100%;
			margin-bottom: 9px;
		}
		&__button-wrapper {
			width: 100%;
		}
	}
	.diagrams__item {
		float: none;
		width: 100%;
		max-width: 270px;
		margin: auto;
	}
	.diagrams__num {
		top: 93px;
		font-size: 50px;
	}
	.video__slide-text {
		max-height: 223px;
    	overflow: hidden;
	}
	.video__slide-title {
		margin-bottom: 10px;
	}
	.video__text-block {
		padding: 20px;
	}
}
@media(max-width: 479px) {
	.reviews-slider {
		.owl-prev {
			left: 0;
			display: none;
		}
		.owl-next {
			right: 0;
			display: none;
		}
	}
	.relative-articles {
		margin-bottom: 30px;
	}
	
}